#body   {
    -fx-spacing: 10;
    -fx-padding: 10;
}

#startVisitButton   {
    -fx-background-color: #7FCFF4;
    -fx-text-fill: #313131;
    -fx-text-weight: bold;
}

.ongoing-visit-view .button{
    -fx-background-color: #BB4040;
    -fx-text-fill: #FFFFFF;
}