#body   {
    -fx-spacing: 10;
    -fx-padding: 10;
}

#startVisitButton   {
    -fx-background-color: #7FCFF4;
    -fx-text-fill: #313131;
    -fx-text-weight: bold;
}

.live-attendance-view .button{
    -fx-background-color: #BB4040;
    -fx-text-fill: #FFFFFF;
}

/* TODO PLEASE delete at some point */
/* Some of this styling should be global */

.root  {
    -fx-font-size: 16;
    -fx-text-fill: #313131;
}

#menuBar .label {
    -fx-text-fill:#313131;
}

#recordManagerMenuItem .label {
    -fx-text-fill:#313131;
}