#body   {
    -fx-spacing: 10;
    -fx-padding: 10;
}

#startVisitButton   {
    -fx-background-color: #7FCFF4;
    -fx-text-fill: #313131;
    -fx-text-weight: bold;
}

#startVisitButton:hover   {
    -fx-background-color: #BFFFFF;
}

.table-row-cell .button {
    -fx-background-color: #BB4040;
    -fx-text-fill: #FFFFFF;
}

.table-row-cell .button:hover {
    -fx-background-color: #FB8080;
    -fx-text-fill: #FFFFFF;
}

.table-row-cell:over {
    -fx-background-color: #cd5c5c;
}

.table-row-cell:almostDone {
    -fx-background-color: #fad550;
}

#menuBar .label {
    -fx-text-fill:#313131;
}

#recordManagerMenuItem .label {
    -fx-text-fill:#313131;
} 