#registerStudentPage {
    -fx-background-color: #7FCFF4;
}

#innerBox   {
    -fx-max-width: 500;
    -fx-background-color: #FFFFFF;
}

#form   {
    -fx-max-width: 400;
    -fx-alignment: TOP-CENTER;
}

#title  {
    -fx-font-size: 36;
}

.form-field-message {
    -fx-font-size: 12;
    -fx-text-fill: #9c0000;
}