#registerStudentPage {
    -fx-background-color: #4c435e;
}

#innerBox   {
    -fx-max-width: 500;
    -fx-background-color: #8272a3;
}

#form   {
    -fx-max-width: 450;
    -fx-alignment: TOP-CENTER;
}

#title  {
    -fx-font-size: 36;
}