#topBar {
    -fx-background-color: #313131;
}

#body   {
    -fx-spacing: 10;
    -fx-padding: 10;
}

#menuButton {
    -fx-text-fill:#FFFFFF;
}

#menuBar    {
    -fx-background-color:#313131;
}

#title  {
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: center;
    -fx-font-weight: bolder;
}

#startVisitButton   {
    -fx-background-color: #7FCFF4;
    -fx-text-fill: #FFFFFF;
    -fx-text-weight: bold;
}