/* Styles to be applied across the entire application */

.root  {
    -fx-font-size: 20;
    -fx-text-fill: #313131;
}

.header {
    -fx-background-color:#313131;
    -fx-pref-height: 30;
}

.header .title {
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: center;
    -fx-font-weight: bolder;
}